<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.upc.demosys.dao.AdminMapper" >
  <resultMap id="BaseResultMap" type="com.upc.demosys.model.Admin" >
    <constructor >
      <idArg column="aname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="apassword" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    aname, apassword
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from admin
    where aname = #{aname,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from admin
    where aname = #{aname,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.upc.demosys.model.Admin" >
    insert into admin (aname, apassword)
    values (#{aname,jdbcType=VARCHAR}, #{apassword,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.upc.demosys.model.Admin" >
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aname != null" >
        aname,
      </if>
      <if test="apassword != null" >
        apassword,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aname != null" >
        #{aname,jdbcType=VARCHAR},
      </if>
      <if test="apassword != null" >
        #{apassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.upc.demosys.model.Admin" >
    update admin
    <set >
      <if test="apassword != null" >
        apassword = #{apassword,jdbcType=VARCHAR},
      </if>
    </set>
    where aname = #{aname,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.upc.demosys.model.Admin" >
    update admin
    set apassword = #{apassword,jdbcType=VARCHAR}
    where aname = #{aname,jdbcType=VARCHAR}
  </update>
</mapper>