<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.upc.demosys.dao.MajorMapper" >
  <resultMap id="BaseResultMap" type="com.upc.demosys.model.Major" >
    <constructor >
      <idArg column="m_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="co_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="m_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="m_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    m_id, co_id, m_name, m_num
  </sql>
  <select id="selectALLMajor" resultType="com.upc.demosys.model.Major">
    select
    <include refid="Base_Column_List" />
    from major
  </select>
  <select id="selectByCoID" resultType="com.upc.demosys.model.Major">
    select
    <include refid="Base_Column_List"/>
    from major
    where co_id=#{coid}

  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from major
    where m_id = #{mId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from major
    where m_id = #{mId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.upc.demosys.model.Major" >
    insert into major (m_id, co_id, m_name, 
      m_num)
    values (#{mId,jdbcType=VARCHAR}, #{coId,jdbcType=VARCHAR}, #{mName,jdbcType=VARCHAR}, 
      #{mNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.upc.demosys.model.Major" >
    insert into major
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mId != null" >
        m_id,
      </if>
      <if test="coId != null" >
        co_id,
      </if>
      <if test="mName != null" >
        m_name,
      </if>
      <if test="mNum != null" >
        m_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mId != null" >
        #{mId,jdbcType=VARCHAR},
      </if>
      <if test="coId != null" >
        #{coId,jdbcType=VARCHAR},
      </if>
      <if test="mName != null" >
        #{mName,jdbcType=VARCHAR},
      </if>
      <if test="mNum != null" >
        #{mNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.upc.demosys.model.Major" >
    update major
    <set >
      <if test="coId != null" >
        co_id = #{coId,jdbcType=VARCHAR},
      </if>
      <if test="mName != null" >
        m_name = #{mName,jdbcType=VARCHAR},
      </if>
      <if test="mNum != null" >
        m_num = #{mNum,jdbcType=INTEGER},
      </if>
    </set>
    where m_id = #{mId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.upc.demosys.model.Major" >
    update major
    set co_id = #{coId,jdbcType=VARCHAR},
      m_name = #{mName,jdbcType=VARCHAR},
      m_num = #{mNum,jdbcType=INTEGER}
    where m_id = #{mId,jdbcType=VARCHAR}
  </update>
</mapper>