<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.upc.demosys.dao.ReportcardMapper" >
  <resultMap id="BaseResultMap" type="com.upc.demosys.model.Reportcard" >
    <constructor >
      <arg column="cid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="starttime" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="cname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="grades" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.upc.demosys.model.Reportcard" >
    insert into reportcard (cid, sid, starttime, 
      cname, grades)
    values (#{cid,jdbcType=VARCHAR}, #{sid,jdbcType=VARCHAR}, #{starttime,jdbcType=DATE}, 
      #{cname,jdbcType=VARCHAR}, #{grades,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.upc.demosys.model.Reportcard" >
    insert into reportcard
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        cid,
      </if>
      <if test="sid != null" >
        sid,
      </if>
      <if test="starttime != null" >
        starttime,
      </if>
      <if test="cname != null" >
        cname,
      </if>
      <if test="grades != null" >
        grades,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=DATE},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="grades != null" >
        #{grades,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>