<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>成绩录入</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li>
                <a href="#">学籍信息录入</a>
            </li>
        </ul>
    </div>
    <br>
    <a href="addinfosingle.html">
        <input name="submit" type="button" class="scbtn" value="单个录入" />
    </a>
</body>

</html>