<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>stuleft</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="js/jquery.js"></script>

<script type="text/javascript">
$(function(){	
	//导航切换
	$(".menuson li").click(function(){
		$(".menuson li.active").removeClass("active")
		$(this).addClass("active");
	});
	
	$('.title').click(function(){
		var $ul = $(this).next('ul');
		$('dd').find('ul').slideUp();
		if($ul.is(':visible')){
			$(this).next('ul').slideUp();
		}else{
			$(this).next('ul').slideDown();
		}
	});
})	
</script>


</head>

<body style="background:#f0f9fd;">
	
    
    <dl class="leftmenu">
        
    <dd>
    <div class="title">
    <span><img src="images/leftico01.png" /></span>常用事务
    </div>
    	<ul class="menuson">
		<li class="active"><cite></cite><a href="rightgrade.html" target="rightFrame">成绩信息</a><i></i></li>
        <li><cite></cite><a href="index.html" target="rightFrame">课程信息</a><i></i></li>
        <li><cite></cite><a href="right.html" target="rightFrame">学籍信息</a><i></i></li>
        <li><cite></cite><a href="index.html" target="rightFrame">重考重修</a><i></i></li>
        
        </ul>    
    </dd>

    </dl>
</body>
</html>
