<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理员left</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="js/jquery.js"></script>

<script type="text/javascript">
$(function(){	
	//导航切换
	$(".menuson li").click(function(){
		$(".menuson li.active").removeClass("active")
		$(this).addClass("active");
	});
	
	$('.title').click(function(){
		var $ul = $(this).next('ul');
		$('dd').find('ul').slideUp();
		if($ul.is(':visible')){
			$(this).next('ul').slideUp();
		}else{
			$(this).next('ul').slideDown();
		}
	});
})	
</script>


</head>

<body style="background:#f0f9fd;">
	
    
    <dl class="leftmenu">
        
    <dd>
    <div class="title">
        <span><img src="images/leftico01.png" /></span>学籍管理
    </div>
    	<ul class="menuson">
            <li class="active"><cite></cite><a href="addinfo.html" target="rightFrame">学籍信息录入</a><i></i></li>
            <li><cite></cite><a href="queryinfo.html" target="rightFrame">学籍信息查询</a><i></i></li>
            <li><cite></cite><a href="right.html" target="rightFrame">学籍信息修改</a><i></i></li>
            <li><cite></cite><a href="imgtable.html" target="rightFrame">双学位与辅修</a><i></i></li>
            <li><cite></cite><a href="form.html" target="rightFrame">奖惩信息管理</a><i></i></li>
            <li><cite></cite><a href="imglist.html" target="rightFrame">学籍学历证明</a><i></i></li>
        </ul>    
    </dd>
	
    <dd>
    <div class="title">
    <span><img src="images/leftico02.png" /></span>课程管理
    </div>
    <ul class="menuson">
        <li><cite></cite><a href="#">成绩录入</a><i></i></li>
        <li><cite></cite><a href="#">课程查询</a><i></i></li>
        <li><cite></cite><a href="#">重学与重考</a><i></i></li>
    </ul>
    </dd> 
    
    </dl>
</body>
</html>
